/* Step-2 You can assign padding to all sides of a container by using the padding property. */

.content-left {
  padding: 30px; 
}

/* Step 2 You can assign padding to all sides of a container by using the padding property. */

.header {
  padding:20px;
}


/* Step-2 One option to get the container to fill the parent container is to use width: auto; */

.profile-image-container {
    background: #96F0F2;
    width: auto;
    height: 200px
}

/* Step-2 One option to get the container to fill the parent container is to use width: auto; */

.profile-links-container {
    background: #12F3F7;
    width: auto;
    height: calc(100% - 240px);
    margin-top: 30px;
}

/* Step-2 You can either use float left or position absolute to get this element to in the desired location. */

.logo-container {
    background: #4F4949;
    float: left;
    height: 100%;
    width: calc(34% - 25px);
}


/* Step-2 You can either use float left or position absolute to get this element to in the desired location. */

.menu-container {
    background: #4F4949;
    float: right;
    height: 100%;
    width: 50px;
}



